/* Break points */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* Colours */
$primary-dark: #4e4e4e;
$primary-cta: #2596be;
$primary-light: #cccccc;
$secondary-dark: #848484;
$secondary-light: #f1f1f1;
